/* body{
    background-color: #000;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backText,
.wrapper{
    border-radius: 20px;
}


table{
    background-image: linear-gradient(270deg, #000046, #2323d3,  #232355,  #2c2ca7, #14147c, #232355);
    background-color: white;
    border: 1px solid yellow;
    border-radius: 20px;

}  */
