/* @import "./assets/css/SilentBidding.css";
@import "./assets/css/liveBidding.css"; */

body {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
